src/main/resources/META-INF/user.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by chenhailong (chinaport) -->
<!-- Schema for XML Signatures
    http://www.w3.org/2000/09/xmldsig#
    $Revision: 1.1 $ on $Date: 2002/02/08 20:32:26 $ by $Author: reagle $

    Copyright 2001 The Internet Society and W3C (Massachusetts Institute
    of Technology, Institut National de Recherche en Informatique et en
    Automatique, Keio University). All Rights Reserved.
    http://www.w3.org/Consortium/Legal/

    This document is governed by the W3C Software License [1] as described
    in the FAQ [2].

    [1] http://www.w3.org/Consortium/Legal/copyright-software-19980720
    [2] http://www.w3.org/Consortium/Legal/IPR-FAQ-20000620.html#DTD
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://xiang/schema/user"
        xmlns:tns="http://xiang/schema/user"
        elementFormDefault="qualified" version="0.1">
        <element name="user">
            <complexType>
                <attribute name="id" type="string" />
                <attribute name="userName" type="string" />
                <attribute name="email" type="string"/>
            </complexType>
        </element>


</schema>